/* Container principal do login */
.main-container {
  display: flex;
  height: "100%";
  min-height: 100vh;
}

#pass-item > div {
  box-sizing: border-box;
  width: 100% !important;
  min-width: 100%;
}

.main-container input{
  width: 100% !important;
  box-sizing: border-box;
  min-width: 100%;
}

.main-container .second-section{
  background-image: url(/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;

}

.main-container .first-section-card{
  width: 50%;
  padding: 70px 100px;
}

.main-container .first-section{
  position: relative;
}

.main-container .header{
  position: absolute;
  top: 0;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.main-container .content-first-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;}


/* .main-container > div {
  border: none;
  width: 100%;
  height: 100%;
} */
.main-container > .first-section {
  padding-left: 113;
  padding-right: 113;
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  .main-container .first-section-card{
    width: 100%;
    height: 100%;
  }
  .main-container {
    height: 100vh;
  }
  .main-container .first-section {
    height: 100%;
    padding: 30px;
  }
  .main-container .first-section > :first-child {
    padding-top: 70px;
    padding-bottom: 90px;
    align-items: center;

    padding: 0;
  }
  .main-container .content-first-section {
    padding-top: 80px;
  }
  .main-container {
    flex-direction: column;
    height: 100vh;
  }
  .main-container .second-section {
    display: none;
  }
}
