@import url("../components/navbar.css");
@import url("./fonts.css");

:root {
  --font-family-lora: 'Lora', serif;
  --background-gray-dark: #f0f0f0; /* Substitua pelos valores HSL desejados */
  --background-gray-light: #f5f5f5; /* Substitua pelos valores HSL desejados */
  --border-dark: #d9d9d9;
  --dark-text: #686868;
  --tag: #eaedf2;
}

:root {
  --navbar-height: 84px; /* Altura da NavBar */
}

#root {
  height: 100vh; /* Altura total para páginas sem NavBar */
  width: 100%;
}

.full-height {
  height: 100vh; /* Altura total para páginas sem NavBar */
}

.reduced-height {
  height: calc(
    100vh - var(--navbar-height)
  ); /* Altura reduzida considerando a NavBar */
  overflow-y: auto; /* Permite rolagem do conteúdo, se necessário */
}
