.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #603773;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.logo:hover{
  color: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #B3B3B3;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFFFFF;
}



a.active{
  color: #FFFFFF;
  position: relative;
  text-decoration: none; /* Remove o sublinhado padrão */
}

a.active:not(.user)::after {
  content: '';
  position: absolute;
  bottom: -1.5px; /* Distância da linha para o texto */
  left: 0;
  width: 100%;
  height: 1px; /* Altura da linha */
  background-color: currentColor; /* Cor da linha, que será a mesma cor do texto */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}