
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 84px; /* Usando a variável para a altura da NavBar */
    justify-content: space-between; /* Distribui os elementos do MenuIcon e menu-content igualmente */
    padding: 0 15px;

  }
  
  .menu-content {
    display: flex;
    align-items: center;
  }
  
  .image-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 3px; /* Espaço para criar o efeito da borda */
    background: linear-gradient(45deg, #717D96, #9113CC); /* Gradiente para a borda */
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Certifica-se que a imagem preencha corretamente o espaço da div, mantendo a proporção */
    border-radius: 50%;
    display: block;
  }
  
  /* .nav-container-items button {
    outline: none;
  }

 .ps-collapsed  .ps-menu-button{
    text-align: center;
  }
 .ps-collapsed   .nav-container-items{
  align-self: center;
    } */